body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: orange;
  width: 100%;
}
.navbar .logo {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li {
  padding: 12px;
  font-weight: 700;
}
.navbar ul i {
  display: none;
}
.navbar ul li i {
  display: inline;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar .logo {
    font-size: 1.5rem;
  }
  .navbar ul li {
    display: none;
  }
  .navbar ul i {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
  }
}
