body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  overflow: hidden;
  background-color: #15072b;
  color: #fff;
}
.logo {
  font-size: 1.5rem;
}
#searchbar {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 10px;
}
#searchbar::placeholder {
  font-size: 0.6rem;
  padding: 15px 5px;
}
.userIcon {
  font-size: 1.5rem;
}
